/* *****************************************************************************************************************
 * Theme9
 */

/* Color1 */

.theme9 header,
.theme9 header a,
.theme9 .full.color3,
.theme9 .color3 .tagline,
.theme9 .color2,
.theme9 .slides_container .caption,
.theme9 .flex-direction-nav li a:before,
.theme9 footer ul.social a,
.theme9 .color1 .btn-small,
.theme9 .color1 .btn-big,
.theme9 .item h2,
.theme9 .item .inner:before,
.theme9 .filters a:hover,
.theme9 .filters li.active a,
.theme9 .color2 .filters a,
.theme9 .color2 .isotope-loading,
.theme9 .color2 .isotope-loading a,
.theme9 .color3 .isotope-loading,
.theme9 .color3 .isotope-loading a,
.theme9 .color1 .search,
.theme9 .color1 .search a,
.theme9 .color1 .search input,
.theme9 .color1 form input,
.theme9 .color1 form textarea,
.theme9 .color1 ul.categories a,
.theme9 .color1 .accordion .acc-title {
	color: #eeefef !important; /* !important because footer icon color */
}
::selection{
	color: #eeefef !important;
}
::-moz-selection {  /* has to be separated from ::selection */
	color: #eeefef;
}

.theme9 .color1,
.theme9 .color1 .arrow,
.theme9 .color1 .iconic > :first-child:before,
.theme9 .color1 .iconic:after,
.theme9 .color2 .btn-small:hover,
.theme9 .color2 .btn-big:hover,
.theme9 .color3 .btn-small:hover,
.theme9 .color3 .btn-big:hover,
.theme9 .color3 ul.categories a,
.theme9 .color2 form input,
.theme9 .color2 form textarea,
.theme9 .color2 .accordion .acc-title,
.theme9 .color3 .accordion .acc-title {
	background: #eeefef;
}

.theme9 .color2 .iconic > :first-child:before,
.theme9 .color2 .iconic:before,
.theme9 .color3 .iconic > :first-child:before,
.theme9 .color3 .iconic:before,
.theme9 .color2 .iconic h1:after, .theme9 .color2 .iconic h2:after, .theme9 .color2 .iconic h3:after, .theme9 .color2 .iconic h4:after,
.theme9 .color3 .iconic h1:after, .theme9 .color3 .iconic h2:after, .theme9 .color3 .iconic h3:after, .theme9 .color2 .iconic h4:after {
	border-color: #eeefef;
}

.theme9 .color2 .iconic:after,
.theme9 header nav ul li a.sub:before,
.theme9 .color3 .iconic:after{
	border-color: #eeefef transparent;
}

/* Color2 */
.theme9 .color3.tagline span,
.theme9 .color3 a,
.theme9 .color1 a,
.theme9 .color1 h1 span, .theme9 .color3 h1 span,
.theme9 .color1 h2 span, .theme9 .color3 h2 span,
.theme9 .color1 h3 span, .theme9 .color3 h3 span,
.theme9 .color1 h4 span, .theme9 .color3 h4 span,
.theme9 .color1 h5 span, .theme9 .color3 h5 span,
.theme9 .color1 h6 span, .theme9 .color3 h6 span,
.theme9 .color1 .tags a:hover,
.theme9 .color2 .btn-small,
.theme9 .color2 .btn-big,
.theme9 .color3 .iconic:before,
.theme9 .color1 .tagline span,
.theme9 .color1 ul.tags:before,
.theme9 .color1 .isotope-loading span,
.theme9 .color3 .isotope-loading span,
.theme9 .color1 ul.social a:hover,
.theme9 .color3 .google-map,
.theme9 .color2 .post-content span,
.theme9 .comments span:before,
.theme9 .color2 .accordion .acc-title {
	color: #15ca9d;
}

.theme9 header.color2,
.theme9 .color2,
.theme9 .color2 .arrow,
.theme9 .color2 .iconic > :first-child:before,
.theme9 .color2 .iconic:after,
.theme9 .color2 .iconic:after,
.theme9 .flex-direction-nav li a,
.theme9 .color1 .btn-small,
.theme9 .color1 .btn-big,
.theme9 .color3 .btn-small,
.theme9 .color3 .btn-big,
.theme9 .color3 ul.categories a:hover,
.theme9 .color1 ul.categories a:hover,
.theme9 .item .inner:before,
.theme9 .color1 .filters ul li.active > a,
.theme9 .color1 .filters ul li a:hover,
.theme9 .color3 .filters ul li.active > a,
.theme9 .color3 .filters ul li a:hover,
.theme9 .color1 .search, .theme9 .color1 .search input,
.theme9 .color1 .accordion .active .acc-title,
.theme9 .color1 .accordion .acc-title:hover,
.theme9 .color3 .accordion .active .acc-title,
.theme9 .color3 .accordion .acc-title:hover {
	background: #15ca9d;
}
::selection{
	background: #15ca9d;
}
::-moz-selection {  /* has to be separated from ::selection */
	background: #15ca9d;
}

.theme9 .color1 .iconic > :first-child:before,
.theme9 .color1 .iconic:before,
.theme9 .color1 .iconic h1:after, .theme9 .color1 .iconic h2:after, .theme9 .color1 .iconic h3:after, .theme9 .color1 .iconic h4:after {
	border-color: #15ca9d;
}

.theme9 .color1 .iconic:after {
	border-color: #15ca9d transparent;
}

/* Color3 */
body.theme9,
.theme9 .color2 a,
.theme9 .color2.tagline span,
.theme9 header .title span,
.theme9 .color2 h1 span,
.theme9 .color2 h2 span,
.theme9 .color2 h3 span,
.theme9 .color2 h4 span,
.theme9 .color2 h5 span,
.theme9 .color2 h6 span,
.theme9 .color1 .iconic > :first-child:before,
.theme9 .color1 .tags a,
.theme9 .color3 .btn-small,
.theme9 .color3 .btn-big,
.theme9 .color3 ul.categories a,
.theme9 .color2 .iconic:before,
.theme9 .color1 .tagline,
.theme9 .color2 .tagline span,
.theme9 .color1 .filters a,
.theme9 .color1 .isotope-loading,
.theme9 .color1 .isotope-loading a,
.theme9 .color2 .isotope-loading span,
.theme9 .color1 ul.social a,
input, textarea,
.theme9 .color3 .accordion .acc-title {
	color: #333;
}

.theme9 header nav ul li.active > a,
.theme9 header nav ul li a:hover,
.theme9 .full.color3,
.theme9 .color3 .arrow,
.theme9 .taglineimg .caption-bg,
.theme9 .color3 .arrow,
.theme9 .color3 .iconic > :first-child:before,
.theme9 .color3 .iconic:after,
.theme9 .flex-direction-nav li a:hover,
.theme9 footer ul.social a:hover,
.theme9 footer ul.social li.active a:hover,
.theme9 .color1 .btn-small:hover,
.theme9 .color1 .btn-big:hover,
.theme9 .color2 .btn-small,
.theme9 .color2 .btn-big,
.theme9 .item .post-content,
.theme9 .color2 .filters ul li.active > a,
.theme9 .color2 .filters ul li a:hover,
.theme9 .color3 .google-map,
.theme9 .color1 form input,
.theme9 .color1 form textarea,
.theme9 .color1 ul.categories a,
.theme9 .color1 .accordion .acc-title,
.theme9 .color2 .accordion .active .acc-title,
.theme9 .color2 .accordion .acc-title:hover {
	background: #333;
}

.theme9 header,
.theme9 footer{
	border-color: #333;
}

.theme9 header nav ul li a.sub:hover:before,
.theme9 header nav ul li.active > a:before{
	border-color: #333 transparent;
}

.theme9 .slides_container .caption{
	background: #333;
	background: rgba(56, 56, 56, 0.5);
}