/* *****************************************************************************************************************
 * Theme2
 */

/* Color1 */

.theme2 header,
.theme2 header a,
.theme2 .full.color3,
.theme2 .color3 .tagline,
.theme2 .color2,
.theme2 .slides_container .caption,
.theme2 .flex-direction-nav li a:before,
.theme2 footer ul.social a,
.theme2 .color1 .btn-small,
.theme2 .color1 .btn-big,
.theme2 .item h2,
.theme2 .item .inner:before,
.theme2 .filters a:hover,
.theme2 .filters li.active a,
.theme2 .color2 .filters a,
.theme2 .color2 .isotope-loading,
.theme2 .color2 .isotope-loading a,
.theme2 .color3 .isotope-loading,
.theme2 .color3 .isotope-loading a,
.theme2 .color1 .search,
.theme2 .color1 .search a,
.theme2 .color1 .search input,
.theme2 .color1 form input,
.theme2 .color1 form textarea,
.theme2 .color1 ul.categories a,
.theme2 .color1 .accordion .acc-title {
	color: #efefef !important; /* !important because footer icon color */
}
::selection{
	color: #efefef !important;
}
::-moz-selection {  /* has to be separated from ::selection */
	color: #efefef;
}

.theme2 .color1,
.theme2 .color1 .arrow,
.theme2 .color1 .iconic > :first-child:before,
.theme2 .color1 .iconic:after,
.theme2 .color2 .btn-small:hover,
.theme2 .color2 .btn-big:hover,
.theme2 .color3 .btn-small:hover,
.theme2 .color3 .btn-big:hover,
.theme2 .color3 ul.categories a,
.theme2 .color2 form input,
.theme2 .color2 form textarea,
.theme2 .color2 .accordion .acc-title,
.theme2 .color3 .accordion .acc-title {
	background: #efefef;
}

.theme2 .color2 .iconic > :first-child:before,
.theme2 .color2 .iconic:before,
.theme2 .color3 .iconic > :first-child:before,
.theme2 .color3 .iconic:before,
.theme2 .color2 .iconic h1:after, .theme2 .color2 .iconic h2:after, .theme2 .color2 .iconic h3:after, .theme2 .color2 .iconic h4:after,
.theme2 .color3 .iconic h1:after, .theme2 .color3 .iconic h2:after, .theme2 .color3 .iconic h3:after, .theme2 .color2 .iconic h4:after {
	border-color: #efefef;
}

.theme2 .color2 .iconic:after,
.theme2 header nav ul li a.sub:before,
.theme2 .color3 .iconic:after{
	border-color: #efefef transparent;
}

/* Color2 */
.theme2 .color3.tagline span,
.theme2 .color3 a,
.theme2 .color1 a,
.theme2 .color1 h1 span, .theme2 .color3 h1 span,
.theme2 .color1 h2 span, .theme2 .color3 h2 span,
.theme2 .color1 h3 span, .theme2 .color3 h3 span,
.theme2 .color1 h4 span, .theme2 .color3 h4 span,
.theme2 .color1 h5 span, .theme2 .color3 h5 span,
.theme2 .color1 h6 span, .theme2 .color3 h6 span,
.theme2 .color1 .tags a:hover,
.theme2 .color2 .btn-small,
.theme2 .color2 .btn-big,
.theme2 .color3 .iconic:before,
.theme2 .color1 .tagline span,
.theme2 .color1 ul.tags:before,
.theme2 .color1 .isotope-loading span,
.theme2 .color3 .isotope-loading span,
.theme2 .color1 ul.social a:hover,
.theme2 .color3 .google-map,
.theme2 .color2 .post-content span,
.theme2 .comments span:before,
.theme2 .color2 .accordion .acc-title {
	color: #47aede;
}

.theme2 header.color2,
.theme2 .color2,
.theme2 .color2 .arrow,
.theme2 .color2 .iconic > :first-child:before,
.theme2 .color2 .iconic:after,
.theme2 .color2 .iconic:after,
.theme2 .flex-direction-nav li a,
.theme2 .color1 .btn-small,
.theme2 .color1 .btn-big,
.theme2 .color3 .btn-small,
.theme2 .color3 .btn-big,
.theme2 .color3 ul.categories a:hover,
.theme2 .color1 ul.categories a:hover,
.theme2 .item .inner:before,
.theme2 .color1 .filters ul li.active > a,
.theme2 .color1 .filters ul li a:hover,
.theme2 .color3 .filters ul li.active > a,
.theme2 .color3 .filters ul li a:hover,
.theme2 .color1 .search, .theme2 .color1 .search input,
.theme2 .color1 .accordion .active .acc-title,
.theme2 .color1 .accordion .acc-title:hover ,
.theme2 .color3 .accordion .active .acc-title,
.theme2 .color3 .accordion .acc-title:hover {
	background: #47aede;
}
::selection{
	background: #47aede;
}
::-moz-selection {  /* has to be separated from ::selection */
	background: #47aede;
}

.theme2 .color1 .iconic > :first-child:before,
.theme2 .color1 .iconic:before,
.theme2 .color1 .iconic h1:after, .theme2 .color1 .iconic h2:after, .theme2 .color1 .iconic h3:after, .theme2 .color1 .iconic h4:after {
	border-color: #47aede;
}

.theme2 .color1 .iconic:after {
	border-color: #47aede transparent;
}

/* Color3 */
body.theme2,
.theme2 .color2 a,
.theme2 .color2.tagline span,
.theme2 header .title span,
.theme2 .color2 h1 span,
.theme2 .color2 h2 span,
.theme2 .color2 h3 span,
.theme2 .color2 h4 span,
.theme2 .color2 h5 span,
.theme2 .color2 h6 span,
.theme2 .color1 .iconic > :first-child:before,
.theme2 .color1 .tags a,
.theme2 .color3 .btn-small,
.theme2 .color3 .btn-big,
.theme2 .color3 ul.categories a,
.theme2 .color2 .iconic:before,
.theme2 .color1 .tagline,
.theme2 .color2 .tagline span,
.theme2 .color1 .filters a,
.theme2 .color1 .isotope-loading,
.theme2 .color1 .isotope-loading a,
.theme2 .color2 .isotope-loading span,
.theme2 .color1 ul.social a,
input, textarea,
.theme2 .color3 .accordion .acc-title {
	color: #383838;
}

.theme2 header nav ul li.active > a,
.theme2 header nav ul li a:hover,
.theme2 .full.color3,
.theme2 .color3 .arrow,
.theme2 .taglineimg .caption-bg,
.theme2 .color3 .arrow,
.theme2 .color3 .iconic > :first-child:before,
.theme2 .color3 .iconic:after,
.theme2 .flex-direction-nav li a:hover,
.theme2 footer ul.social a:hover,
.theme2 footer ul.social li.active a:hover,
.theme2 .color1 .btn-small:hover,
.theme2 .color1 .btn-big:hover,
.theme2 .color2 .btn-small,
.theme2 .color2 .btn-big,
.theme2 .item .post-content,
.theme2 .color2 .filters ul li.active > a,
.theme2 .color2 .filters ul li a:hover,
.theme2 .color3 .google-map,
.theme2 .color1 form input,
.theme2 .color1 form textarea,
.theme2 .color1 ul.categories a,
.theme2 .color1 .accordion .acc-title,
.theme2 .color2 .accordion .active .acc-title,
.theme2 .color2 .accordion .acc-title:hover {
	background: #383838;
}

.theme2 header,
.theme2 footer{
	border-color: #383838;
}

.theme2 header nav ul li a.sub:hover:before,
.theme2 header nav ul li.active > a:before{
	border-color: #383838 transparent;
}

.theme2 .slides_container .caption{
	background: #383838;
	background: rgba(56, 56, 56, 0.5);
}